style.css

html, body,
 ul, ol, li,
 h1, h2, h3, h4, h5, h6, p,
 form, input, div {
 margin: 0;
 padding: 0;
 }

 html {
  /*height: 100%;*/
  /*width: 100%;*/
 }
 
 body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color: #C0C0C0;

  height: 100%;
  width: 100%;


 }

.li {
  list-style: square inside;
}

header {
  /*overflow: hidden;*/

  /*transform: translateX(93%);*/
  /*transition: all 1s;*/
  
  /*display: none;*/

  display: grid;
  justify-content: start;

  grid-template-columns: auto,auto;

  opacity: 0.5;
  background-color: royalblue;
  cursor: text;

  text-align: center;
  
  display: block;

}


header .outline1 {
  font-size: 60px;
  color: yellow;
  display: flex;
  text-align: center;
  margin-left: 330px;
  font-family: "Arial Black";
  font-weight: bold;
}


header .outline2 {

}

header .outline3 {
  text-align: center;

  display: block;


}



/*header:hover {*/
  transform: translateX(0%);
  /*opacity: 0.5;*/
  /*background-color: royalblue;*/
  /*cursor: ew-resize;*/


}

header h4 {
  writing-mode: vertical-rl;
  color: yellow;

  grid-column: 1;
  grid-row: 1 / span 2;

  background: black;
}

header h2 {
  text-align: center;

  /*grid-column: 2;*/
  /*grid-row: 1;*/

 overflow: hidden;

} 

header p {
  font-family: sans-serif;

  /*grid-column: 2;*/
  /*grid-row: 2;*/

  overflow: hidden;
}

header h5 {
  display: flex;
  align-items: flex-end;
}
